@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Glegoo);
@import "css/font-awesome.min.css";

body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.fa-custom {
  padding: 20px;
  font-size: 24px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}    
.number-custom {
	color: black;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.nav-tabs { 
	border-bottom: 2px solid #DDD; 
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
	border-width: 0; 
	background-color: lightgray;
}

.nav-tabs > li > a { 
	border: medium;
	border-color: black; 
	color: #666; 
	font-size: large;	
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
	border: none; 
	color: #000 !important;
	background-color: lightgray;
}

.nav-tabs > li > a::after { 
	content: ""; 
	background: #000; 
	height: 2px; 
	position: absolute; 
	width: 100%; 
	left: 0px; 
	bottom: -1px; 
	transition: all 250ms ease 0s; 
	transform: scale(0); 
}
.navbar-header{
	margin:20px 0 0 0;
}

.navbar.navbar-default{
	margin-bottom:15px;
	background-color:#33a247 !important;
}
.ma-top-right{
	margin-top:50px;
}
.navbar-default .navbar-nav > li > a{
	color:#fff;
	font-weight:bold;
	-webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#00bcd4; 
	
}
.navbar .navbar-nav > li > a{
	text-transform: uppercase;
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
	transform: scale(1); 
}

.tab-nav > li > a::after { 
	background: #21527d none repeat scroll 0% 0%; 
	color: lightgray; 
}

.tab-pane { 
	padding: 10px 0; 
}

.tab-content {
	padding: 5px 7px;
}

.center-custom {
	text-align: center;
}

.pagename-custom {
	text-align: center;
	color: #00933D;
	margin: 0;
	padding: 0;
}

.jumbo-well-custom {
	 border: 1px solid;
	 border-color: #e7e7e7;
	 background-color: #F8F8F8;
}

.tab-mobile-custom {
	margin-left: 5%;
}

.caret-right {
  position: relative;
}

.caret-right:before {
  content: '';
  display: inline-block;
  border-left: 4px solid #040404;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.caret-right:after {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  border-left: 0px solid #eeeeee;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.nav .float-left-custom{
	float: left !important;
}
.social{
	margin-top:13px;
	float:right;
}
.social li{
	display:inline-block;
}
.social li a{
	background:#33a247;
	color:#fff;
	padding: 8px 4px;
	border-radius: 50%;
}
.social li a:hover{
	background:#10b6fe;
		-webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}
.social li a i{
	width:26px;
	height:26px;
	text-align:center;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	background-color:#33a247 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover{
	background-color:#33a247;
	color:#fff !important;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#33a247;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus .icon-bar{
	
}
.dropdown:hover .dropdown-menu {
  display: block;
}
/*Footer Section*/
footer{
	margin-bottom:0px !important;
	margin-top:20px;
}


/*Legal framework page*/

.ma-legal-framwork-page .list-group .list-group-item a i{
	margin-right:12px;
}
.ma-legal-framwork-page .list-group .list-group-item a{
	color:#000;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .center-nav-custom{
		text-align: center;
    }
    
    .padding-nav-custom{
		padding-left: 0;
    }

}
@media (max-width:768px) {
	.ma-top-right{
		margin:0 auto;
		text-align:center;
	}
	.ma-top-right .pull-right{
		float:none !important;
	}
	.social{
		float:none;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
    
    .margin-contact-custom{
		margin-left: 20%;
    }
	
}